{% extends 'base.html' %}

{% block content %}
    <p class="message-header">{{ mensagem }}</p>
    <h1 class="subtitle">Aplicação EstoqueWeb</h1>

    <br>
    <p class="message-body">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad doloremque dicta distinctio pariatur nam autem veniam, inventore animi? Voluptatibus provident excepturi, voluptatem nihil esse cum. Ut minus veritatis numquam maiores?
    <br>    
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo itaque ipsum debitis quod expedita animi, dolorum inventore repudiandae dignissimos ducimus vero facere tempore fuga culpa? Suscipit iste repudiandae voluptate modi!</p>

     {{ user }}
    {{ perms }}
    {{ messages }}
    {{ LANGUAGE_CODE }}


{% endblock content %}   